
.formulario {
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border: 1px dashed gray;
    border-radius: 5px;
}

.btnSubmit {
    appearance: button;
    background-color: cornflowerblue;
    border: 1px black;
    color: white;
    border-radius: 5px;
}

.tabla {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    align-items: center;
}

    .tabla td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }


#idTablaCursos tr:nth-child(even) {
    background-color: #dddddd;
}

.col-cursoId {
    width: 30px;
}

.col-nombre {
    width: 150px;
}

.btnAgregar {
    background-color: rgba(0,176,92);
    color: white;
    width: 140px;
}

.btnActualizar {
    background-color: #FF7F0D;
    color: white;
    width: 140px;
}

.btnEliminar {
    background-color: rgba(224,54,38);
    color: white;
    width: 140px;
}

#nombre, #nombreMod {
    width: 300px;
}

#cursoId, #cursoIdMod {
    width: 100px;
}

.espaciado {
    width: 50px;
}

form .error {
    color: #ff0000;
}

form label.error {
    display: block;
}

.highlight {
    border: 2px solid gray;
    cursor: pointer;
}

.selected td {
    background-color: #AFEFEF !important;
    font-weight: bold;
}

#idModal {
    position: fixed; /* Posiciona la modal en el centro de la pantalla */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #2d2828;
    z-index: 2;
    width: 500px;
}

#idNavbarModal {
    padding: 10px;
}
#idNavbarModal table {
   width: 100%;
}

#idCloseBtnModal {
    background-color: #eee;
    color: #2e2e2e;
    border: none;
    padding: 10px;
    float: right;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50%;
    padding: 0.5rem 0.9rem;
}

.modal-content-class {
    margin-top: 20px;
}
.modal-content-class table {
    width: 100%;
}


#modal-overlay {
    position: fixed; /* Cubre toda la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo desenfocado */
    z-index: 10; /* Asegura que la modal esté encima del fondo */
    backdrop-filter: blur(3px);
    z-index: 1;
}

#idModalIdCursos {
    width: 60px !important;
}

#idModalNombreCursos {
    width: 300px !important;
}

.formulario-modal-detalles input {
    background-color: #e8e8e8;
    pointer-events: none;
    border: 1px solid gray;
    border-radius: 2px;
}

.formulario-modal-añadir #idModalIdCursos {
    background-color: #e8e8e8;
    pointer-events: none;
    border: 1px solid gray;
    border-radius: 2px;
}
.formulario-modal-añadir #idModalNombreCursos {
    background-color: white;
    pointer-events: all;
    border: 1px solid gray;
    border-radius: 2px;
}

.boton-modal-class {
    float: right;
    margin: 10px 10px 10px 10px;
    border: 1px solid #b5b5b5;
}