@section Stylesheets {
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
}

<div class="container">
    <h1> Práctica Web.API</h1>
    <div class="center">
        <a asp-controller="Alumnos" asp-action="Index">
            <div id="btnAlumnos" class="btn">Alumnos</div>
        </a>
        <a asp-controller="Cursos" asp-action="Index">
            <div id="btnCursos" class="btn">Cursos</div>
        </a>
    </div>
</div>