    <form id="idModalCursosContentForm">
        <table>
            <tr>
                <td>Curso Id:</td>
                <td><input type="text" id="idModalIdCursos" name="nmModalIdCursos"></td>
            </tr>
            <tr>
                <td>Nombre:</td>
                <td><input type="text" id="idModalNombreCursos" name="nmModalNombreCursos"></td>
            </tr>
        </table>
    </form>
